@import "../../index.scss";

.HeaderMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .circle{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: $yellow;
    clip-path: ellipse(55% 100% at 50% 0%);

    h1{
      font-size: 50px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 35px;
      color: $white;
    }
  }

  .container{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    padding: 0 30px;
    transform: translateY(calc(-125px / 2));

    button{
      width: 100%;
      max-width: 170px;
      height: 35px;
      background-color: $yellow;
      border: 0;
      border-radius: 10px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
      font-size: 15px;
      font-weight: 600;

      &:nth-child(3){
        transition: .2s;
        cursor: pointer;

        &:hover{
          background-color: darken($yellow, 10);
        }
      }
    }

    .profile-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      img{
        width: 125px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        outline: 10px solid $bg;
        object-fit: cover;
      }

      h5{
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
.HeaderMain{
  .circle{
    height: 125px;
    clip-path: ellipse(60% 100% at 50% 0%);

    h1{
      font-size: 28px;
      line-height: 20px;
    }
  }

  .container{
    position: relative;
    align-items: baseline;
    justify-content: center;
    height: 225px;
    gap: 15px;

    button{
      margin-top: auto;
      font-size: 14px;
    }

    .profile-info{
      position: absolute;
    }
  }
}
}